:host {
    
    .view {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        .container {
            display: flex;
            flex-direction: column;


        }
        .container>* {
            margin: 10px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
    }
}