.window {
    display: flex;
    justify-content: center;
    .container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        >* {
            margin: 10px 0;
        }
    }
}